In [47]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score, log_loss, precision_score

In [44]:
gme_df = pd.read_csv('GME_df.csv')
amc_df = pd.read_csv('AMC_df.csv')
pltr_df = pd.read_csv('PLTR_df.csv')
nok_df = pd.read_csv('NOK_df.csv')
tsla_df = pd.read_csv('TSLA_df.csv')

In [45]:
gme_df

,Unnamed: 0,Date,Open,Adj Close,Volume,pct_change_c2c,pct_change_intraday,10d_realised_vol,count,pos,neg,net,abs,pct_change_c2c_next,pct_change_intraday_next,Volume_next,down_next,Short Volume,Short Exempt Volume
0,0,2021-01-28,265.000000,193.600006,58815800.0,-44.289373,-26.943394,641.061041,454.0,0.020153,0.027926,-0.007773,0.048079,67.871896,-14.408362,50259200.0,0,9606123,455032
1,1,2021-01-29,379.709991,325.000000,50259200.0,67.871896,-14.408362,706.293015,4983.0,0.021446,0.028455,-0.007009,0.049902,-30.769231,-28.923426,37382200.0,1,8814229,527920
2,2,2021-02-01,316.559998,225.000000,37382200.0,-30.769231,-28.923426,737.844005,370.0,0.020451,0.025240,-0.004788,0.045691,-60.000000,-36.061379,78183100.0,1,6982444,364890
3,3,2021-02-02,140.759995,90.000000,78183100.0,-60.000000,-36.061379,816.446819,472.0,0.021595,0.026473,-0.004879,0.048068,2.677782,-17.498436,42698500.0,0,16358136,1073011
4,4,2021-02-03,112.010002,92.410004,42698500.0,2.677782,-17.498436,819.755654,782.0,0.022034,0.024754,-0.002720,0.046788,-42.105835,-41.331288,62427300.0,1,9638240,532939
5,5,2021-02-04,91.190002,53.500000,62427300.0,-42.105835,-41.331288,871.133170,601.0,0.021787,0.027398,-0.005611,0.049184,19.196263,18.005180,80886300.0,0,14272780,869183
6,6,2021-02-05,54.040001,63.770000,80886300.0,19.196263,18.005180,820.118149,1028.0,0.023072,0.029187,-0.006116,0.052259,-5.911871,-17.138521,25687300.0,1,19063724,1106467
7,7,2021-02-08,72.410004,60.000000,25687300.0,-5.911871,-17.138521,800.584685,104.0,0.019375,0.023233,-0.003858,0.042608,-16.149998,-11.128774,26843100.0,1,6404809,82425
8,8,2021-02-09,56.610001,50.310001,26843100.0,-16.149998,-11.128774,678.092879,63.0,0.022518,0.024938,-0.002420,0.047456,1.769031,0.846957,36455000.0,0,6516142,277522
9,9,2021-02-10,50.770000,51.200001,36455000.0,1.769031,0.846957,465.186045,90.0,0.018686,0.021541,-0.002855,0.040227,-0.195317,2.179564,12997400.0,1,6587323,241069
10,10,2021-02-11,50.009998,51.099998,12997400.0,-0.195317,2.179564,394.635556,45.0,0.021418,0.020657,0.000761,0.042075,2.544037,3.251235,14498000.0,0,2234229,33414
11,11,2021-02-12,50.750000,52.400002,14498000.0,2.544037,3.251235,290.110983,38.0,0.022676,0.025897,-0.003221,0.048572,-5.515273,-5.981773,8175000.0,1,2061991,50915
12,12,2021-02-16,52.660000,49.509998,8175000.0,-5.515273,-5.981773,249.704651,20.0,0.024347,0.022156,0.002191,0.046503,-7.210664,-7.695402,9186800.0,1,2120102,25796
13,13,2021-02-17,49.770000,45.939999,9186800.0,-7.210664,-7.695402,165.241713,25.0,0.013215,0.015316,-0.002101,0.028531,-11.427950,-16.085797,23990600.0,1,2155470,24521
14,14,2021-02-18,48.490002,40.689999,23990600.0,-11.427950,-16.085797,179.241982,53.0,0.019082,0.019684,-0.000602,0.038766,-0.245757,-1.671508,14828200.0,1,4429950,42067
15,15,2021-02-19,41.279999,40.590000,14828200.0,-0.245757,-1.671508,112.265857,73.0,0.020188,0.025179,-0.004991,0.045368,13.328406,-1.477830,19476000.0,0,2190404,134794
16,16,2021-02-22,46.689999,46.000000,19476000.0,13.328406,-1.477830,102.877286,20.0,0.020889,0.015549,0.005340,0.036438,-2.239128,0.000000,7565200.0,1,5477700,95055
17,17,2021-02-23,44.970001,44.970001,7565200.0,-2.239128,0.000000,97.000896,54.0,0.022671,0.021923,0.000747,0.044594,103.935950,105.167780,83111700.0,0,1772742,51454
18,18,2021-02-24,44.700001,91.709999,83111700.0,103.935950,105.167780,237.458419,37.0,0.022129,0.018209,0.003920,0.040339,18.558504,-35.875204,150308800.0,0,11911548,481499
19,19,2021-02-25,169.559998,108.730003,150308800.0,18.558504,-35.875204,264.321577,65.0,0.018668,0.018744,-0.000076,0.037412,-6.428773,-13.383281,91963000.0,1,33187254,560135
20,20,2021-02-26,117.459999,101.739998,91963000.0,-6.428773,-13.383281,274.295108,184.0,0.020913,0.019528,0.001385,0.040441,18.340873,15.171227,49597300.0,0,22264902,1079465
21,21,2021-03-01,104.540001,120.400002,49597300.0,18.340873,15.171227,299.570044,45.0,0.020676,0.021697,-0.001021,0.042373,-1.843855,1.069016,33640400.0,1,13711102,757250
22,22,2021-03-02,116.930000,118.180000,33640400.0,-1.843855,1.069016,293.695775,90.0,0.021020,0.022651,-0.001631,0.043671,5.077001,1.363153,19173700.0,0,9464355,182373
23,23,2021-03-03,122.510002,124.180000,19173700.0,5.077001,1.363153,290.281914,134.0,0.020688,0.017333,0.003355,0.038021,6.579164,5.880005,32473600.0,0,4740739,89946
24,24,2021-03-04,125.000000,132.350006,32473600.0,6.579164,5.880005,282.523857,125.0,0.021833,0.017213,0.004619,0.039046,4.072534,7.466652,30660200.0,0,8485601,183684
25,25,2021-03-05,128.169998,137.740005,30660200.0,4.072534,7.466652,288.646701,102.0,0.023011,0.017961,0.005049,0.040972,41.208068,25.572988,63424800.0,0,7981187,169653
26,26,2021-03-08,154.889999,194.500000,63424800.0,41.208068,25.572988,333.254160,38.0,0.021118,0.019409,0.001709,0.040527,26.940871,13.407738,38725800.0,0,15269959,280296
27,27,2021-03-09,217.710007,246.899994,38725800.0,26.940871,13.407738,372.776949,93.0,0.023362,0.021043,0.002319,0.044405,7.330906,-1.644209,71361900.0,0,8507752,199017
28,28,2021-03-10,269.429993,265.000000,71361900.0,7.330906,-1.644209,218.208879,177.0,0.021477,0.019492,0.001986,0.040969,-1.886792,7.598080,28186000.0,1,14924764,738344
29,29,2021-03-11,241.639999,260.000000,28186000.0,-1.886792,7.598080,191.534140,171.0,0.020874,0.023497,-0.002623,0.044370,1.730769,-3.818182,25760700.0,0,6318428,383095
30,30,2021-03-12,275.000000,264.500000,25760700.0,1.730769,-3.818182,184.017333,92.0,0.022250,0.020127,0.002122,0.042377,-16.771267,-20.675984,24100400.0,1,5439089,354001
31,31,2021-03-15,277.519989,220.139999,24100400.0,-16.771267,-20.675984,181.505963,31.0,0.020100,0.017678,0.002422,0.037778,-5.437449,2.466034,35241900.0,1,5750093,297576
32,32,2021-03-16,203.160004,208.169998,35241900.0,-5.437449,2.466034,187.255715,75.0,0.021580,0.019450,0.002130,0.041030,0.787817,-3.686191,16259300.0,0,8715265,491574
33,33,2021-03-17,217.839996,209.809998,16259300.0,0.787817,-3.686191,180.393021,78.0,0.019001,0.019754,-0.000753,0.038755,-3.841570,-5.724299,11764900.0,1,3878187,186016
34,34,2021-03-18,214.000000,201.750000,11764900.0,-3.841570,-5.724299,176.012870,50.0,0.019449,0.017901,0.001548,0.037351,-0.733579,2.319526,24552100.0,1,2996746,51194
35,35,2021-03-19,195.729996,200.270004,24552100.0,-0.733579,2.319526,170.670542,53.0,0.027676,0.023188,0.004488,0.050864,-2.886103,-5.246999,10061500.0,1,6421981,132316
36,36,2021-03-22,205.259995,194.490005,10061500.0,-2.886103,-5.246999,109.355398,13.0,0.017957,0.016425,0.001531,0.034382,-6.550468,-7.974684,14429100.0,1,2358752,33094
37,37,2021-03-23,197.500000,181.750000,14429100.0,-6.550468,-7.974684,76.730754,23.0,0.021852,0.012968,0.008884,0.034821,-33.788173,-23.825801,24177900.0,1,2835124,33212
38,38,2021-03-24,157.979996,120.339996,24177900.0,-33.788173,-23.825801,119.062380,40.0,0.017285,0.012218,0.005067,0.029502,52.692376,48.797476,50962300.0,0,5921699,374547
39,39,2021-03-25,123.489998,183.750000,50962300.0,52.692376,48.797476,200.351315,49.0,0.023600,0.017246,0.006354,0.040845,-1.496599,-8.437876,37371900.0,1,12591492,473500
40,40,2021-03-26,197.679993,181.000000,37371900.0,-1.496599,-8.437876,199.976642,46.0,0.016009,0.020358,-0.004348,0.036367,0.165748,0.304289,10042200.0,0,10038012,297653
41,41,2021-03-29,180.750000,181.300003,10042200.0,0.165748,0.304289,173.407811,11.0,0.020197,0.014556,0.005640,0.034753,7.258689,3.712004,17094900.0,0,2927293,122400
42,42,2021-03-30,187.500000,194.460007,17094900.0,7.258689,3.712004,176.321794,12.0,0.030295,0.024440,0.005855,0.054735,-2.386094,-3.888604,8393800.0,1,4636499,72753
43,43,2021-03-31,197.500000,189.820007,8393800.0,-2.386094,-3.888604,178.879038,8.0,0.019070,0.017732,0.001338,0.036802,NaN,NaN,NaN,0,2300830,42403

# Linear Regression

In [46]:
from sklearn.linear_model import LinearRegression

In [5]:
def linear_reg_pctchangenext(df):
    
    features = ['Open','Adj Close','Volume','pct_change_c2c','pct_change_intraday','10d_realised_vol','count','pos','neg','net','abs', 'Short Volume','Short Exempt Volume']
    df.drop(df.tail(1).index,inplace=True)
    
    X=df[features]
    y=df['pct_change_c2c_next']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    reg = LinearRegression().fit(X_train, y_train)
    
    coefs = pd.DataFrame(reg.coef_.reshape(1,13), columns=features)
    coefs.insert(loc=0, column="Intercept", value=reg.intercept_)
    coefs = coefs.T
    coefs=coefs.rename(columns={0:'Coefficient'})
    coefs=coefs.round(4)
    
    print("Regression Summary")
    display(coefs)
    
    y_pred = reg.predict(X_test)
            
    y_test_df=y_test.to_frame()
    y_test_df.insert(loc=1,column="y_pred", value = y_pred)
    display(y_test_df)

    print("Coefficient R-squared: {}".format(reg.score(X_test, y_test)))

In [6]:
def linear_reg_volumenext(df):
    
    features = ['Open','Adj Close','Volume','pct_change_c2c','pct_change_intraday','10d_realised_vol','count','pos','neg','net','abs', 'Short Volume','Short Exempt Volume']
    df.drop(df.tail(1).index,inplace=True)
    
    X=df[features]
    y=df['Volume_next']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    reg = LinearRegression().fit(X_train, y_train)
    
    coefs = pd.DataFrame(reg.coef_.reshape(1,13), columns=features)
    coefs.insert(loc=0, column="Intercept", value=reg.intercept_)
    coefs = coefs.T
    coefs=coefs.rename(columns={0:'Coefficient'})
#     coefs=coefs.round(1)
    
    print("Regression Summary")
    display(coefs)
    
    y_pred = reg.predict(X_test)
            
    y_test_df=y_test.to_frame()
    y_test_df.insert(loc=1,column="y_pred", value = y_pred)
    display(y_test_df)

    print("Coefficient R-squared: {}".format(reg.score(X_test, y_test)))

In [7]:
linear_reg_pctchangenext(gme_df)

Regression Summary

                     Coefficient
Intercept                22.5032
Open                     -0.3261
Adj Close                 0.2361
Volume                    0.0000
pct_change_c2c           -1.6904
pct_change_intraday       1.2090
10d_realised_vol         -0.0598
count                     0.0316
pos                     339.2174
neg                    -299.5702
net                     638.7876
abs                      39.6471
Short Volume             -0.0000
Short Exempt Volume      -0.0001

    pct_change_c2c_next     y_pred
37           -33.788173  19.355091
24             4.072534  19.247297
25            41.208068  24.360285
36            -6.550468   3.836602
34            -0.733579   1.463530
39            -1.496599  10.452160
4            -42.105835 -34.339500
12            -7.210664  14.862086
8              1.769031  -0.783428

Coefficient R-squared: 0.07962085083062242

In [8]:
linear_reg_pctchangenext(amc_df)

Regression Summary

                     Coefficient
Intercept                 3.9200
Open                      5.6493
Adj Close                -7.1138
Volume                    0.0000
pct_change_c2c           -0.0192
pct_change_intraday       0.6143
10d_realised_vol         -0.0388
count                    -0.0029
pos                     182.4322
neg                     104.9281
net                      77.5042
abs                     287.3603
Short Volume             -0.0000
Short Exempt Volume       0.0000

    pct_change_c2c_next     y_pred
37           -15.384610   5.774082
24             0.249072  10.416805
25            15.403723  12.601165
36           -14.651721  11.679635
34            -0.499998  -7.033783
39            -6.398536   7.611139
4            -20.958752  11.061681
12            -1.769910  -0.104407
8              5.454549  -3.286933

Coefficient R-squared: -1.5034338221160217

In [9]:
linear_reg_pctchangenext(pltr_df)

Regression Summary

                     Coefficient
Intercept                 1.7244
Open                     -1.6088
Adj Close                 1.5956
Volume                    0.0000
pct_change_c2c           -0.0533
pct_change_intraday      -0.2280
10d_realised_vol         -0.0139
count                    -0.0644
pos                     -23.3940
neg                      -8.6015
net                     -14.7925
abs                     -31.9955
Short Volume              0.0000
Short Exempt Volume      -0.0000

    pct_change_c2c_next    y_pred
25            -5.970774 -0.210739
13            -7.053175 -0.199616
8             -6.471044 -1.040278
26             7.726464 -0.062489
4              0.913095 -3.413394
39             0.000000  1.359757
19            -0.250415 -0.198399
29             0.710814  0.668322
30            -0.482909  0.125511

Coefficient R-squared: -0.09002294299352953

In [10]:
linear_reg_pctchangenext(nok_df)

Regression Summary

                     Coefficient
Intercept                33.2025
Open                   -638.7425
Adj Close               629.3206
Volume                    0.0000
pct_change_c2c            0.2695
pct_change_intraday     -25.9518
10d_realised_vol          0.0095
count                     0.0459
pos                      15.6300
neg                       8.5252
net                       7.1048
abs                      24.1552
Short Volume              0.0000
Short Exempt Volume       0.0000

    pct_change_c2c_next     y_pred
17             0.247530  -0.924202
13            -1.213585  -1.941356
4             -7.021275  18.327876
29             0.943407  -5.801263
35            -0.985221  -0.247355
25             3.535350   0.542369
6              0.947878  -0.403210
26             2.926827  -0.050245

Coefficient R-squared: -8.518517316602972

In [11]:
linear_reg_pctchangenext(tsla_df)

Regression Summary

                     Coefficient
Intercept               -26.4704
Open                     -0.7621
Adj Close                 0.7726
Volume                    0.0000
pct_change_c2c           -0.0739
pct_change_intraday      -5.5577
10d_realised_vol          0.0113
count                     0.0962
pos                     202.0589
neg                     -47.0704
net                     249.1293
abs                     154.9886
Short Volume             -0.0000
Short Exempt Volume      -0.0000

    pct_change_c2c_next     y_pred
37            -4.816050  -1.228922
24            -3.779929  17.117586
25            -5.844972  22.163674
36            -1.170153   4.033507
34             0.261808   1.796976
39            -3.385436  -6.097406
4             -0.549908  -4.636269
12             0.242402  -1.142980
8             -5.255105  -2.566840

Coefficient R-squared: -26.632399899357456

In [12]:
linear_reg_volumenext(gme_df)

Regression Summary

                      Coefficient
Intercept            2.126411e+04
Open                 6.074852e+05
Adj Close           -6.428490e+05
Volume               1.299350e+00
pct_change_c2c       5.003274e+05
pct_change_intraday  2.897211e+05
10d_realised_vol     3.386708e+04
count               -1.431366e+04
pos                  8.600563e+08
neg                 -6.157237e+08
net                  1.475780e+09
abs                  2.443326e+08
Short Volume        -5.646151e+00
Short Exempt Volume  2.651072e+01

    Volume_next        y_pred
25   63424800.0  2.732010e+07
13   23990600.0  6.347275e+06
8    36455000.0  3.030895e+07
26   38725800.0  3.011165e+07
4    62427300.0  4.781531e+07
39   37371900.0  4.021324e+07
19   91963000.0  7.635835e+07
29   25760700.0  6.529932e+06
30   24100400.0  3.409733e+07

Coefficient R-squared: 0.3763016364387448

In [13]:
linear_reg_volumenext(amc_df)

Regression Summary

                      Coefficient
Intercept            9.953958e+06
Open                 2.027895e+08
Adj Close           -2.071972e+08
Volume               7.122509e-01
pct_change_c2c      -9.561532e+05
pct_change_intraday  2.508932e+07
10d_realised_vol     6.073627e+04
count                3.064674e+04
pos                  4.729281e+08
neg                  7.204547e+08
net                 -2.475266e+08
abs                  1.193383e+09
Short Volume        -1.730812e+00
Short Exempt Volume  2.020161e+01

    Volume_next        y_pred
25  113872800.0  8.451648e+07
13  130540800.0  5.628628e+07
8   152810800.0  1.220502e+08
26  148428200.0  1.425172e+08
4   162985800.0  2.346502e+08
39   83778100.0  2.472843e+08
19  135675300.0  1.537067e+08
29  110443600.0  5.762663e+07
30  277713300.0  1.280586e+08

Coefficient R-squared: -1.6748831367418866

In [14]:
linear_reg_volumenext(pltr_df)

Regression Summary

                      Coefficient
Intercept           -5.132127e+07
Open                -6.035828e+07
Adj Close            6.332390e+07
Volume               1.329016e+00
pct_change_c2c      -2.476359e+06
pct_change_intraday -1.764038e+07
10d_realised_vol     1.530362e+05
count               -6.479343e+04
pos                 -4.901612e+07
neg                  1.317327e+08
net                 -1.807488e+08
abs                  8.271655e+07
Short Volume        -4.908257e+00
Short Exempt Volume -1.212793e+01

    Volume_next        y_pred
24  172875900.0  9.540726e+07
13  313175100.0  1.101072e+08
8    45177200.0  1.040872e+08
25   93973900.0  1.021475e+08
4    31565000.0  5.227977e+07
40   52039700.0  4.615501e+07
19  119588600.0  1.655622e+08
39   57689500.0  2.837543e+07
29   58489200.0  6.314357e+07

Coefficient R-squared: 0.15860011857048706

In [15]:
linear_reg_volumenext(nok_df)

Regression Summary

                      Coefficient
Intercept           -7.476667e+07
Open                -1.515020e+09
Adj Close            1.541589e+09
Volume               8.205089e-01
pct_change_c2c      -6.038847e+04
pct_change_intraday -5.556399e+07
10d_realised_vol     3.847352e+04
count                1.153095e+05
pos                 -2.282179e+07
neg                 -2.600954e+08
net                  2.372736e+08
abs                 -2.829172e+08
Short Volume        -7.087646e-01
Short Exempt Volume  9.501746e+00

    Volume_next        y_pred
35   26233600.0  2.199881e+07
13   28413700.0  5.611343e+07
26   42858300.0  5.524519e+07
30   83759200.0  6.731901e+07
16   77998700.0  8.105930e+07
31   31188900.0  6.835927e+07
21   41232500.0  4.780380e+07
12   43669200.0  6.726913e+07

Coefficient R-squared: 0.05888797498174547

In [16]:
linear_reg_volumenext(tsla_df)

Regression Summary

                      Coefficient
Intercept            4.452003e+07
Open                -4.974742e+05
Adj Close            4.504957e+05
Volume               7.207692e-01
pct_change_c2c       2.086221e+05
pct_change_intraday -4.125491e+06
10d_realised_vol    -2.186072e+04
count                4.602813e+04
pos                 -6.947683e+07
neg                  1.751206e+08
net                 -2.445974e+08
abs                  1.056437e+08
Short Volume        -1.698983e-01
Short Exempt Volume  8.589084e-01

    Volume_next        y_pred
25   51787000.0  8.935094e+07
13   17957100.0  2.817524e+07
8    36216100.0  2.013468e+07
26   67523300.0  6.347794e+07
4    15812700.0  1.837562e+07
39   33778400.0  3.880707e+07
19   41089200.0  3.010330e+07
29   33583800.0  4.283515e+07
30   29335600.0  3.185242e+07

Coefficient R-squared: 0.010307841019571717

# Ridge Regression

In [17]:
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeClassifier

In [18]:
def ridge_reg_pctchangenext(df):
    
    features = ['Open','Adj Close','Volume','pct_change_c2c','pct_change_intraday','10d_realised_vol','count','pos','neg','net','abs','Short Volume','Short Exempt Volume']
    df.drop(df.tail(1).index,inplace=True)
    
    X=df[features]
    y=df['pct_change_c2c_next']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    rid = Ridge(alpha=1.0).fit(X_train, y_train)
    
    coefs = pd.DataFrame(rid.coef_.reshape(1,13), columns=features)
    coefs.insert(loc=0, column="Intercept", value=rid.intercept_)
    coefs = coefs.T
    coefs=coefs.rename(columns={0:'Coefficient'})
    coefs=coefs.round(4)
    
    print("Regression Summary")
    display(coefs)
    
    y_pred = rid.predict(X_test)
            
    y_test_df=y_test.to_frame()
    y_test_df.insert(loc=1,column="y_pred", value = y_pred)
    display(y_test_df)

    print("Coefficient R-squared: {}".format(rid.score(X_test, y_test)))

In [19]:
def ridge_reg_volumenext(df):
    
    features = ['Open','Adj Close','Volume','pct_change_c2c','pct_change_intraday','10d_realised_vol','count','pos','neg','net','abs','Short Volume','Short Exempt Volume']
    df.drop(df.tail(1).index,inplace=True)
    
    X=df[features]
    y=df['Volume_next']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    rid = Ridge(alpha=1.0).fit(X_train, y_train)
    
    coefs = pd.DataFrame(rid.coef_.reshape(1,13), columns=features)
    coefs.insert(loc=0, column="Intercept", value=rid.intercept_)
    coefs = coefs.T
    coefs=coefs.rename(columns={0:'Coefficient'})
#     coefs=coefs.round(4)
    
    print("Regression Summary")
    display(coefs)
    
    y_pred = rid.predict(X_test)
            
    y_test_df=y_test.to_frame()
    y_test_df.insert(loc=1,column="y_pred", value = y_pred)
    display(y_test_df)

    print("Coefficient R-squared: {}".format(rid.score(X_test, y_test)))

In [20]:
ridge_reg_pctchangenext(gme_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=4.26261e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                     Coefficient
Intercept                22.7164
Open                     -0.3478
Adj Close                 0.2503
Volume                    0.0000
pct_change_c2c           -1.5858
pct_change_intraday       1.0636
10d_realised_vol         -0.0682
count                     0.0297
pos                      -0.1613
neg                       0.1387
net                      -0.3000
abs                      -0.0225
Short Volume              0.0000
Short Exempt Volume      -0.0001

    pct_change_c2c_next     y_pred
24             4.072534  15.822719
13           -11.427950  17.791998
8              1.769031  -3.411443
25            41.208068  19.555062
4            -42.105835 -35.771551
40             0.165748   1.965975
19            -6.428773  31.172090
39            -1.496599   7.115825
29             1.730769  13.458543

Coefficient R-squared: 0.13533664981655513

In [21]:
ridge_reg_pctchangenext(amc_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.14658e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                     Coefficient
Intercept                21.5472
Open                     -3.8246
Adj Close                 1.7331
Volume                    0.0000
pct_change_c2c            0.0632
pct_change_intraday      -0.4859
10d_realised_vol         -0.0367
count                    -0.0044
pos                       0.5600
neg                       0.2517
net                       0.3083
abs                       0.8118
Short Volume             -0.0000
Short Exempt Volume       0.0000

    pct_change_c2c_next     y_pred
24             0.249072   6.841159
13            -0.720720   5.736259
8              5.454549  -4.709211
25            15.403723   8.145896
4            -20.958752   3.177360
40             1.074225  -2.448402
19            -3.377560  16.132160
39            -6.398536   2.433279
29             8.560313  -5.797802

Coefficient R-squared: -0.8004644390618938

In [22]:
ridge_reg_pctchangenext(pltr_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=9.55461e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                     Coefficient
Intercept                -2.1066
Open                      0.3290
Adj Close                -0.5573
Volume                    0.0000
pct_change_c2c            0.3149
pct_change_intraday      -0.1355
10d_realised_vol          0.0604
count                    -0.0729
pos                      -0.3170
neg                      -0.0412
net                      -0.2757
abs                      -0.3582
Short Volume             -0.0000
Short Exempt Volume      -0.0000

    pct_change_c2c_next    y_pred
19            -0.250415  3.111403
16            -4.464286  8.293366
15            -3.448276  9.916779
26             7.726464 -2.642194
4              0.913095 -1.981346
12            -2.729886  0.889695
37            -5.932937 -3.289491
27             2.019785  2.410438

Coefficient R-squared: -2.637174835154208

In [23]:
ridge_reg_pctchangenext(nok_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.87224e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                     Coefficient
Intercept                16.3004
Open                     -2.0047
Adj Close                -2.1133
Volume                    0.0000
pct_change_c2c           -0.1095
pct_change_intraday      -0.2960
10d_realised_vol          0.0055
count                     0.0107
pos                       0.1927
neg                      -0.0406
net                       0.2333
abs                       0.1521
Short Volume             -0.0000
Short Exempt Volume       0.0000

    pct_change_c2c_next    y_pred
26             2.926827 -1.322980
13            -1.213585 -1.390853
24             0.000000 -0.668831
21            -1.485147 -0.971596
15            -0.252525  0.291646
29             0.943407 -1.678275
19             3.061222 -1.090152

Coefficient R-squared: -1.127723314300629

In [24]:
ridge_reg_pctchangenext(tsla_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.45091e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                     Coefficient
Intercept               -35.4150
Open                     -0.7771
Adj Close                 0.8077
Volume                    0.0000
pct_change_c2c           -0.1462
pct_change_intraday      -5.8017
10d_realised_vol          0.0299
count                     0.0855
pos                       0.0923
neg                      -0.0781
net                       0.1704
abs                       0.0143
Short Volume             -0.0000
Short Exempt Volume      -0.0000

    pct_change_c2c_next     y_pred
24            -3.779929  15.011326
13            -1.349373   0.696596
8             -5.255105  -4.358588
25            -5.844972  23.157949
4             -0.549908  -5.048496
40            -1.199277   0.169092
19            -0.985015  -1.380360
39            -3.385436  -6.742561
29            -0.839050   1.230904

Coefficient R-squared: -36.46302234300281

In [25]:
ridge_reg_volumenext(gme_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=4.66663e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                      Coefficient
Intercept            4.000119e+07
Open                 8.990076e+05
Adj Close           -1.009328e+06
Volume               3.283416e-01
pct_change_c2c      -4.889308e+04
pct_change_intraday  1.214127e+06
10d_realised_vol    -8.904362e+03
count               -1.183098e+03
pos                  1.718055e+05
neg                 -2.659648e+05
net                  4.377704e+05
abs                 -9.415931e+04
Short Volume        -7.639714e-01
Short Exempt Volume  1.068878e+01

    Volume_next        y_pred
19   91963000.0  6.577810e+07
16    7565200.0  3.538548e+07
15   19476000.0  3.766659e+07
26   38725800.0  2.110654e+07
4    62427300.0  3.017065e+07
12    9186800.0  2.946612e+07
37   24177900.0  2.696506e+07
27   71361900.0  6.391354e+06

Coefficient R-squared: -0.13461525296738874

In [26]:
ridge_reg_volumenext(amc_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.12496e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                      Coefficient
Intercept            5.504336e+07
Open                 6.041055e+07
Adj Close           -6.247784e+07
Volume               1.178486e+00
pct_change_c2c      -4.145114e+06
pct_change_intraday  1.170960e+07
10d_realised_vol     5.300174e+04
count                1.566065e+05
pos                 -2.536683e+05
neg                 -1.648898e+06
net                  1.395230e+06
abs                 -1.902566e+06
Short Volume        -8.318804e-01
Short Exempt Volume -5.309025e+01

    Volume_next        y_pred
19  135675300.0  2.123149e+08
16  264876400.0  2.191870e+08
15  173409000.0  9.506171e+07
26  148428200.0  1.138328e+08
4   162985800.0  6.840796e+07
12   38849000.0  5.074839e+07
37   81850700.0  1.004251e+08
27  256641600.0  1.694228e+08

Coefficient R-squared: 0.23012874874583933

In [27]:
ridge_reg_volumenext(pltr_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=5.63525e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                      Coefficient
Intercept            2.920780e+07
Open                -8.146653e+06
Adj Close            8.343328e+06
Volume               1.215334e+00
pct_change_c2c      -2.207022e+06
pct_change_intraday -1.937659e+06
10d_realised_vol    -4.295532e+04
count                9.199202e+05
pos                 -3.887433e+05
neg                 -7.225429e+05
net                  3.337997e+05
abs                 -1.111286e+06
Short Volume        -3.205464e+00
Short Exempt Volume -3.898636e+01

    Volume_next        y_pred
33   57141400.0  8.348021e+07
36   50169700.0  6.236433e+07
4    31565000.0  3.470135e+07
13  313175100.0  1.315357e+08
30   56101500.0  7.474474e+07
26   99106800.0  7.941403e+07
6    72376000.0  5.294998e+07
27  102847800.0  9.058315e+07

Coefficient R-squared: 0.38522548504651644

In [28]:
ridge_reg_volumenext(nok_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=1.87697e-18): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                      Coefficient
Intercept            1.539422e+07
Open                 3.607592e+05
Adj Close            1.224775e+06
Volume               7.916648e-01
pct_change_c2c       2.012529e+06
pct_change_intraday  7.547314e+06
10d_realised_vol     1.257489e+05
count                2.293808e+04
pos                  8.400868e+04
neg                 -1.429444e+06
net                  1.513453e+06
abs                 -1.345436e+06
Short Volume        -1.600792e+00
Short Exempt Volume  1.223979e+01

    Volume_next        y_pred
15   68365800.0  4.530923e+07
19   39737000.0  3.612412e+07
27   59527500.0  8.505136e+07
26   42858300.0  6.785400e+07
8    79240200.0  7.999465e+07
24   48009600.0  6.813236e+07
21   41232500.0  4.231823e+07

Coefficient R-squared: -0.5907595967534245

In [29]:
ridge_reg_volumenext(tsla_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_ridge.py:147: LinAlgWarning: Ill-conditioned matrix (rcond=2.52038e-17): result may not be accurate.
  return linalg.solve(A, Xy, sym_pos=True,

                      Coefficient
Intercept            6.903365e+07
Open                -1.126505e+06
Adj Close            1.060648e+06
Volume               2.136240e-01
pct_change_c2c      -1.004778e+06
pct_change_intraday -7.845999e+06
10d_realised_vol     8.156258e+04
count                1.466809e+04
pos                  5.103091e+04
neg                 -5.373785e+04
net                  1.047688e+05
abs                 -2.706935e+03
Short Volume        -5.670442e-02
Short Exempt Volume  1.118649e+00

    Volume_next        y_pred
19   41089200.0  3.999133e+07
16   66606900.0  3.611194e+07
15   37269700.0  2.228962e+07
26   67523300.0  6.180670e+07
4    15812700.0  1.870530e+07
12   25996500.0  2.167526e+07
37   33795200.0  3.768281e+07
27   60605700.0  1.687083e+07

Coefficient R-squared: -0.20179238840206692

# Lasso Regression

In [30]:
from sklearn.linear_model import Lasso

In [31]:
def lasso_reg_pctchangenext(df):
    
    features = ['Open','Adj Close','Volume','pct_change_c2c','pct_change_intraday','10d_realised_vol','count','pos','neg','net','abs','Short Volume','Short Exempt Volume']
    df.drop(df.tail(1).index,inplace=True)
    
    X=df[features]
    y=df['pct_change_c2c_next']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    reg = Lasso().fit(X_train, y_train)
    
    coefs = pd.DataFrame(reg.coef_.reshape(1,13), columns=features)
    coefs.insert(loc=0, column="Intercept", value=reg.intercept_)
    coefs = coefs.T
    coefs=coefs.rename(columns={0:'Coefficient'})
    coefs=coefs.round(4)
    
    print("Regression Summary")
    display(coefs)
    
    y_pred = reg.predict(X_test)
            
    y_test_df=y_test.to_frame()
    y_test_df.insert(loc=1,column="y_pred", value = y_pred)
    display(y_test_df)

    print("Coefficient R-squared: {}".format(reg.score(X_test, y_test)))

In [32]:
def lasso_reg_volumenext(df):
    
    features = ['Open','Adj Close','Volume','pct_change_c2c','pct_change_intraday','10d_realised_vol','count','pos','neg','net','abs','Short Volume','Short Exempt Volume']
    df.drop(df.tail(1).index,inplace=True)
    
    X=df[features]
    y=df['Volume_next']
    
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    
    reg = Lasso().fit(X_train, y_train)
    
    coefs = pd.DataFrame(reg.coef_.reshape(1,13), columns=features)
    coefs.insert(loc=0, column="Intercept", value=reg.intercept_)
    coefs = coefs.T
    coefs=coefs.rename(columns={0:'Coefficient'})
    coefs=coefs.round(4)
    
    print("Regression Summary")
    display(coefs)
    
    y_pred = reg.predict(X_test)
            
    y_test_df=y_test.to_frame()
    y_test_df.insert(loc=1,column="y_pred", value = y_pred)
    display(y_test_df)

    print("Coefficient R-squared: {}".format(reg.score(X_test, y_test)))

In [33]:
lasso_reg_pctchangenext(gme_df)

Regression Summary

                     Coefficient
Intercept                36.0153
Open                     -0.0000
Adj Close                -0.1880
Volume                    0.0000
pct_change_c2c           -1.9830
pct_change_intraday       1.8223
10d_realised_vol         -0.0810
count                     0.0404
pos                      -0.0000
neg                       0.0000
net                      -0.0000
abs                      -0.0000
Short Volume              0.0000
Short Exempt Volume      -0.0000

    pct_change_c2c_next     y_pred
33            -3.841570 -17.525242
36            -6.550468  -5.633793
4            -42.105835 -41.766617
13           -11.427950  22.005914
30           -16.771267 -30.598937
26            26.940871 -18.815971
6             -5.911871  13.274054
27             7.330906 -43.074161

Coefficient R-squared: -1.3943908574387072

In [34]:
lasso_reg_pctchangenext(amc_df)

Regression Summary

                     Coefficient
Intercept                19.2896
Open                     -0.0255
Adj Close                -1.5939
Volume                    0.0000
pct_change_c2c            0.0000
pct_change_intraday       0.0000
10d_realised_vol         -0.0309
count                    -0.0022
pos                       0.0000
neg                       0.0000
net                      -0.0000
abs                       0.0000
Short Volume             -0.0000
Short Exempt Volume       0.0000

    pct_change_c2c_next     y_pred
33             3.244835  -1.691769
36           -14.651721   7.881121
4            -20.958752   8.259172
13            -0.720720   5.466598
30            25.806453  -0.452295
26            13.024758   4.931041
6             -9.516839 -11.938597
27            -6.190473   2.170310

Coefficient R-squared: -0.394394500068181

In [35]:
lasso_reg_pctchangenext(pltr_df)

Regression Summary

                     Coefficient
Intercept                -0.3325
Open                     -0.0000
Adj Close                -0.1581
Volume                    0.0000
pct_change_c2c           -0.0000
pct_change_intraday      -0.0000
10d_realised_vol          0.0270
count                    -0.0379
pos                      -0.0000
neg                      -0.0000
net                      -0.0000
abs                      -0.0000
Short Volume             -0.0000
Short Exempt Volume      -0.0000

    pct_change_c2c_next    y_pred
33            -4.879015 -1.668277
36            -3.963663 -2.138240
4              0.913095 -3.396123
13            -7.053175 -1.876819
30            -0.482909 -1.980095
26             7.726464 -2.272354
6              5.873715 -3.659632
27             2.019785 -0.424852

Coefficient R-squared: -0.36838345546663054

In [36]:
lasso_reg_pctchangenext(nok_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2.0362888141020505, tolerance: 0.031105719802494027
  model = cd_fast.enet_coordinate_descent(

                     Coefficient
Intercept                -0.1016
Open                     -0.0000
Adj Close                -0.0000
Volume                    0.0000
pct_change_c2c           -0.2158
pct_change_intraday      -0.0380
10d_realised_vol          0.0000
count                     0.0136
pos                       0.0000
neg                      -0.0000
net                       0.0000
abs                       0.0000
Short Volume             -0.0000
Short Exempt Volume       0.0000

    pct_change_c2c_next    y_pred
31             0.995024  0.766345
15            -0.252525  0.332359
26             2.926827 -1.233517
17             0.247530 -0.836851
8             -0.477327 -0.872912
9             -1.678661 -1.194326
19             3.061222 -2.426871

Coefficient R-squared: -1.6303658526782367

In [37]:
lasso_reg_pctchangenext(tsla_df)

Regression Summary

                     Coefficient
Intercept               -11.9642
Open                      0.0097
Adj Close                 0.0000
Volume                    0.0000
pct_change_c2c           -0.1053
pct_change_intraday       0.0000
10d_realised_vol          0.0227
count                     0.0428
pos                       0.0000
neg                      -0.0000
net                       0.0000
abs                      -0.0000
Short Volume              0.0000
Short Exempt Volume      -0.0000

    pct_change_c2c_next    y_pred
33            -6.932079 -2.793995
36            -1.170153 -3.217118
4             -0.549908 -1.442013
13            -1.349373 -2.091876
30             2.048351 -1.621186
26            19.641211 -1.897868
6              1.313026  2.017757
27            -0.819505 -3.020783

Coefficient R-squared: -0.1881551499488323

In [38]:
lasso_reg_volumenext(gme_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 4981146871559984.0, tolerance: 2912418715596.9673
  model = cd_fast.enet_coordinate_descent(

                      Coefficient
Intercept           -3.690694e+06
Open                 8.372006e+05
Adj Close           -9.236994e+05
Volume               2.625000e-01
pct_change_c2c      -7.407877e+04
pct_change_intraday  1.284656e+06
10d_realised_vol     2.145132e+04
count               -8.197537e+02
pos                  1.681682e+09
neg                 -6.367301e+08
net                  8.896427e+07
abs                  2.507305e+07
Short Volume         8.887000e-01
Short Exempt Volume -9.520000e-01

    Volume_next        y_pred
33   11764900.0  1.171271e+07
36   14429100.0  9.753525e+06
4    62427300.0  4.047869e+07
13   23990600.0  7.017508e+06
30   24100400.0  1.816980e+07
26   38725800.0  3.751473e+07
6    25687300.0  7.920381e+07
27   71361900.0  1.840786e+07

Coefficient R-squared: -0.9271449642949945

In [39]:
lasso_reg_volumenext(amc_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 3.685551265356374e+16, tolerance: 63734367800978.3
  model = cd_fast.enet_coordinate_descent(

                      Coefficient
Intercept            4.350582e+07
Open                 1.900652e+08
Adj Close           -1.924282e+08
Volume               6.534000e-01
pct_change_c2c      -3.329231e+06
pct_change_intraday  2.608240e+07
10d_realised_vol     9.556124e+04
count                1.079772e+05
pos                 -1.681066e+09
neg                  3.640821e+09
net                 -4.295206e+08
abs                 -3.331529e+08
Short Volume        -6.787000e-01
Short Exempt Volume -1.107160e+01

    Volume_next        y_pred
33  121418000.0  6.788451e+07
36   87923200.0  1.012323e+08
4   162985800.0  1.906339e+08
13  130540800.0  9.474466e+07
30  277713300.0  1.215474e+08
26  148428200.0  1.099656e+08
6   128171500.0  2.105541e+08
27  256641600.0  1.718040e+08

Coefficient R-squared: -0.41497737999240747

In [40]:
lasso_reg_volumenext(pltr_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1.5174367570117564e+16, tolerance: 11364184494946.69
  model = cd_fast.enet_coordinate_descent(

                      Coefficient
Intercept            2.848695e+07
Open                -1.272269e+07
Adj Close            1.331040e+07
Volume               1.339900e+00
pct_change_c2c      -3.047501e+06
pct_change_intraday -2.120780e+06
10d_realised_vol     1.214631e+05
count                1.120235e+06
pos                 -6.645360e+08
neg                 -2.255168e+08
net                  4.644464e+07
abs                  9.950676e+05
Short Volume        -3.930300e+00
Short Exempt Volume -5.037580e+01

    Volume_next        y_pred
17   90095700.0  1.505938e+08
13  313175100.0  1.320446e+08
4    31565000.0  3.612532e+07
29   58489200.0  7.045178e+07
35   46208100.0  7.811731e+07
25   93973900.0  6.061277e+07
6    72376000.0  5.142109e+07
26   99106800.0  7.170449e+07

Coefficient R-squared: 0.28191644945592154

In [41]:
lasso_reg_volumenext(nok_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 2707050767531597.0, tolerance: 12535058461652.24
  model = cd_fast.enet_coordinate_descent(

                      Coefficient
Intercept            2.056662e+07
Open                -1.348186e+08
Adj Close            1.366605e+08
Volume               6.013000e-01
pct_change_c2c       2.337680e+06
pct_change_intraday -1.703810e+06
10d_realised_vol     1.914087e+05
count               -3.041040e+03
pos                  2.997602e+08
neg                 -8.744963e+08
net                 -8.572454e+07
abs                 -1.471433e+08
Short Volume        -8.050000e-02
Short Exempt Volume  1.254960e+01

    Volume_next        y_pred
29   24511600.0  2.801001e+07
15   68365800.0  4.549279e+07
24   48009600.0  6.488668e+07
17  121260400.0  8.103571e+07
8    79240200.0  9.059947e+07
9    62959000.0  8.119459e+07
30   83759200.0  5.330628e+07

Coefficient R-squared: 0.30500418837343535

In [42]:
lasso_reg_volumenext(tsla_df)

Regression Summary

/opt/anaconda3/lib/python3.8/site-packages/sklearn/linear_model/_coordinate_descent.py:529: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Duality gap: 1661786195847081.2, tolerance: 761418034279.2001
  model = cd_fast.enet_coordinate_descent(

                      Coefficient
Intercept            9.167173e+07
Open                -6.637879e+05
Adj Close            5.699048e+05
Volume               1.685000e-01
pct_change_c2c      -7.981436e+05
pct_change_intraday -5.171229e+06
10d_realised_vol    -6.404358e+04
count               -2.007397e+04
pos                  4.380471e+08
neg                  2.245341e+07
net                  0.000000e+00
abs                  2.982186e+07
Short Volume        -6.410000e-02
Short Exempt Volume  6.358000e-01

    Volume_next        y_pred
33   33224800.0  2.622288e+07
36   30491900.0  4.187976e+07
4    15812700.0  2.141965e+07
13   17957100.0  2.838453e+07
30   29335600.0  3.449702e+07
26   67523300.0  6.626763e+07
6    20161700.0  2.045608e+07
27   60605700.0  1.444171e+07

Coefficient R-squared: 0.06294755029598476